<nav class="navbar navbar-expand-md navbar-light bg-light" style="height: 100px;">

    <img src="./assets/images/bakerLogo.jpg" style="height: 100px;"/>
    <form class="form-inline my-2 my-lg-0" style="padding-left: 15%;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
    <div class="collapse navbar-collapse" style="padding-left: 30%;" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">About Us</a>
            <a class="dropdown-item" href="#">Places</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Educational Info</a>
          </div>
        </li>
        <li class="">
            <a href="#" class="btn btn-info btn-lg">
              <i class="fa fa-sign-out" aria-hidden="true">Signout</i>
              </a>
        </li>
      </ul>
      
    </div>
  </nav>
  

<section>
 
  



</section>
