
<app-header-page></app-header-page>
<div class="bg-img">
    <div class="product-form">
        <form [formGroup]="editProductFm" (ngSubmit)="updateProduct(product.productId,product)" >
            <h2>PRODUCT</h2>
            <p class="hint-text">EDIT product</p>
            <div class="form-group">
                    <input type="text" disabled [(ngModel)]="product.productName" class="form-control" formControlName="productName" placeholder="Product Name" >    	
            </div>
            <div class="form-group">
                <input type="text" disabled [(ngModel)]="product.productDescription" class="form-control" formControlName="productDescription" placeholder="Product Description" >
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="product.productRating"  class="form-control" formControlName="productRating" placeholder="Product Rating" >
            </div>
            <div class="form-group">
                <input type="text"[(ngModel)]="product.price" class="form-control" formControlName="price" placeholder="Price" >
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="product.quantityOnHand" class="form-control" formControlName="quantityOnHand" placeholder="Quantity On Hand">
            </div>  
            <div class="form-group">
                <input type="text" [(ngModel)]="product.productIngredients" disabled class="form-control" formControlName="productIngredients" placeholder="Product Ingredients" >
            </div>  

            <div class="form-group">
                <input type="text" [(ngModel)]="product.image" disabled class="form-control" formControlName="image" placeholder="Image name" >
            </div> 


            <div class="form-group">
                <select [(ngModel)]="product.productCategory" disabled formControlName="productCategory">
                    <option value="">Choose category</option>
                    <option *ngFor="let category of categories">{{category}}</option>
                 </select>
            </div>

           <!-- <div class="form-group">
                <label for="file">Choose File</label>
                <input type="file"  id="file">
            </div>
         <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div>-->
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Update</button>
            </div>
        </form>
        <div class="text-center">Update an existing product <a [routerLink]="'/login'">Edit</a></div>
    </div>
</div>

<app-myfooter></app-myfooter>