<h1>list-products works!</h1>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Description</th>
        <th scope="col">Product Category</th>
        <th scope="col">Product Rating</th>
        <th scope="col">Price (R)</th>
        <th scope="col">Quantity</th>
        <th scope="col">Product Ingredients</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let myproducts of products;let i=index " >
        
        <th scope="row">{{i+1}}</th>
        <td>{{myproducts.productId}}</td>
        <td>{{myproducts.productName}}</td>
        <td>{{myproducts.productDescription}}</td>
        <td>{{myproducts.productCategory}}</td>
        <td>{{myproducts.productRating}}</td>
        <td>{{myproducts.price}}</td>
        <td>{{myproducts.quantityOnHand}}</td>
        <td>{{myproducts.productIngredients}}</td>
        <td>{{myproducts.image}}</td>
        <td>

                   <!-- Call to action buttons -->
              <ul class="list-inline m-0">
                    <li class="list-inline-item">
                        <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"
                        [routerLink]="['/product', myproducts.productId]"><i class="fa fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteProduct(myproducts.productId)"><i class="fa fa-trash"></i></button>
                    </li>
                </ul>

      </td>
        

      </tr>
    </tbody>
  </table>