
<div class="bg-img">
    <app-header-page></app-header-page>
    <div class="login-form">
        <form >
            <h2 class="text-center">Sanda's Bakery Forgot Password</h2>       
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username/emailAddress" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">SEND ME RESET LINK</button>
            </div>    
        </form>
    </div>
    <app-footer></app-footer>
</div>

